# Ignore everything
**

# Allow Go module files
!go.mod
!go.sum

# Allow source code
!*.go
!*/**/*.go

# Allow pkg directory
!pkg/
!pkg/**

# Allow cmd directory
!cmd/
!cmd/**

# Allow tools
!tools/
!tools/**


# Ignore all test files
pkg/integration/
pkg/integration/**
**/*_test.go