name: Upgrade Tests
on:
  push:
    branches:
      - main
      - rel/**
  pull_request:

jobs:
  test:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-tags: true
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache-dependency-path: "**/*.sum"

      - run: dev/docker/up single

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1.6.0
        with:
          version: v1.3.5

      - name: Run Integration Tests
        run: |
          export GOPATH="${HOME}/go/"
          export PATH="${PATH}:${GOPATH}/bin"
          export ENABLE_INTEGRATION_TESTS=1
          go test github.com/xmtp/xmtpd/pkg/integration -v
