name: Lint Spellcheck
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint-shellcheck:
    name: Lint Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: shellcheck
        run: |
          sudo apt-get -y install tree
          dev/lint-shellcheck
