name: Lint
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/lint-spellcheck.yml"
      - "dev/**"
jobs:
  lint-spellcheck:
    name: Lint Spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: shellcheck
        run: |
          sudo apt-get -y install tree
          dev/lint-shellcheck
