name: Lint
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint-go:
    name: Lint-Go
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.10.1
      - name: sqlc
        uses: nickcharlton/diff-check@v1.0.0
        with:
          command: go tool -modfile=tools/go.mod sqlc generate
      - name: generate
        uses: nickcharlton/diff-check@v1.0.0
        with:
          command: go generate ./...
      - name: mockery
        uses: nickcharlton/diff-check@v1.0.0
        with:
          command: go tool -modfile=tools/go.mod mockery
      - name: metrics catalog
        uses: nickcharlton/diff-check@v1.0.0
        with:
          command: ./dev/gen/metrics-catalog
