name: Release from tag

on:
  push:
    tags:
      - 'v*'

jobs:
  push_to_registry:
    name: Push Docker Image to GitHub Packages
    strategy:
      matrix:
        image: [ "xmtpd", "xmtpd-cli", "xmtpd-prune" ]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      DOCKER_METADATA_PR_HEAD_SHA: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to the container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker image file based on the matrix variable
        id: set_dockerfile
        run: |
          if [[ "${{ matrix.image }}" == "xmtpd" ]]; then
          echo "dockerfile=Dockerfile" >> $GITHUB_OUTPUT
          elif [[ "${{ matrix.image }}" == "xmtpd-cli" ]]; then
          echo "dockerfile=Dockerfile-cli" >> $GITHUB_OUTPUT
          elif [[ "${{ matrix.image }}" == "xmtpd-prune" ]]; then
          echo "dockerfile=Dockerfile-prune" >> $GITHUB_OUTPUT
          else
          echo "Unknown image: ${{ matrix.image }}"
          exit 1
          fi
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/xmtp/${{ matrix.image }}
          tags: |
            type=ref,event=tag
            type=semver,pattern={{version}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        id: push
        with:
          context: .
          file: ./dev/docker/${{ steps.set_dockerfile.outputs.dockerfile }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: "VERSION=${{ github.ref_name }}-${{ github.event_name != 'pull_request' && github.sha || github.event.pull_request.head.sha }}"